<form id="kbb-form" class="form-control">

	<select id="kbbyear" class="makemodelDropdown" name="yearid">
	<option value="">Year</option>
	<option value="2014" oid="2014">2014</option>
	<option value="2013" oid="2013">2013</option>
	<option value="2012" oid="2012">2012</option>
	<option value="2011" oid="2011">2011</option>
	<option value="2010" oid="2010">2010</option>
	<option value="2009" oid="2009">2009</option>
	<option value="2008" oid="2008">2008</option>
	<option value="2007" oid="2007">2007</option>
	<option value="2006" oid="2006">2006</option>
	<option value="2005" oid="2005">2005</option>
	<option value="2004" oid="2004">2004</option>
	<option value="2003" oid="2003">2003</option>
	<option value="2002" oid="2002">2002</option>
	<option value="2001" oid="2001">2001</option>
	<option value="2000" oid="2000">2000</option>
	<option value="1999" oid="1999">1999</option>
	<option value="1998" oid="1998">1998</option>
	<option value="1997" oid="1997">1997</option>
	<option value="1996" oid="1996">1996</option>
	<option value="1995" oid="1995">1995</option>
	<option value="1994" oid="1994">1994</option>
	</select>

	<select id="kbbmanufacturer" class="makemodelDropdown" name="manufacturername">
	<option value="">Make</option>
	<option value="Acura" oid="2">Acura</option>
	<option value="Audi" oid="4">Audi</option>
	<option value="BMW" oid="5">BMW</option>
	<option value="Buick" oid="7">Buick</option>
	<option value="Cadillac" oid="8">Cadillac</option>
	<option value="Chevrolet" oid="9">Chevrolet</option>
	<option value="Chrysler" oid="10">Chrysler</option>
	<option value="Dodge" oid="13">Dodge</option>
	<option value="Ford" oid="15">Ford</option>
	<option value="GMC" oid="16">GMC</option>
	<option value="Honda" oid="18">Honda</option>
	<option value="Hyundai" oid="20">Hyundai</option>
	<option value="Infiniti" oid="21">Infiniti</option>
	<option value="Jaguar" oid="23">Jaguar</option>
	<option value="Jeep" oid="24">Jeep</option>
	<option value="Kia" oid="25">Kia</option>
	<option value="Land Rover" oid="26">Land Rover</option>
	<option value="Lexus" oid="27">Lexus</option>
	<option value="Lincoln" oid="28">Lincoln</option>
	<option value="Mazda" oid="30">Mazda</option>
	<option value="Mercedes-Benz" oid="31">Mercedes-Benz</option>
	<option value="Mitsubishi" oid="34">Mitsubishi</option>
	<option value="Nissan" oid="35">Nissan</option>
	<option value="Oldsmobile" oid="36">Oldsmobile</option>
	<option value="Plymouth" oid="39">Plymouth</option>
	<option value="Porsche" oid="41">Porsche</option>
	<option value="Saab" oid="43">Saab</option>
	<option value="Subaru" oid="47">Subaru</option>
	<option value="Suzuki" oid="48">Suzuki</option>
	<option value="Toyota" oid="49">Toyota</option>
	<option value="Volkswagen" oid="50">Volkswagen</option>
	<option value="Volvo" oid="51">Volvo</option>
	</select>

	<select id="kbbmanufacturer" class="makemodelDropdown" name="manufacturername">
	<option value="">Make</option>
	<option value="Acura" oid="2">Acura</option>
	<option value="Alfa Romeo" oid="3">Alfa Romeo</option>
	<option value="Aston Martin" oid="54">Aston Martin</option>
	<option value="Audi" oid="4">Audi</option>
	<option value="Bentley" oid="57">Bentley</option>
	<option value="BMW" oid="5">BMW</option>
	<option value="Buick" oid="7">Buick</option>
	<option value="Cadillac" oid="8">Cadillac</option>
	<option value="Chevrolet" oid="9">Chevrolet</option>
	<option value="Chrysler" oid="10">Chrysler</option>
	<option value="Dodge" oid="13">Dodge</option>
	<option value="Ferrari" oid="397">Ferrari</option>
	<option value="Eagle" oid="14">Eagle</option>
	<option value="FIAT" oid="430">FIAT</option>
	<option value="Ford" oid="15">Ford</option>
	<option value="Geo" oid="17">Geo</option>
	<option value="GMC" oid="16">GMC</option>
	<option value="Honda" oid="18">Honda</option>
	<option value="HUMMER" oid="19">HUMMER</option>
	<option value="Hyundai" oid="20">Hyundai</option>
	<option value="Infiniti" oid="21">Infiniti</option>
	<option value="Isuzu" oid="22">Isuzu</option>
	<option value="Jaguar" oid="23">Jaguar</option>
	<option value="Jeep" oid="24">Jeep</option>
	<option value="Kia" oid="25">Kia</option>
	<option value="Lamborghini" oid="59">Lamborghini</option>
	<option value="Land Rover" oid="26">Land Rover</option>
	<option value="Lexus" oid="27">Lexus</option>
	<option value="Lincoln" oid="28">Lincoln</option>
	<option value="Lotus" oid="55">Lotus</option>
	<option value="Maserati" oid="61">Maserati</option>
	<option value="Mazda" oid="30">Mazda</option>
	<option value="McLaren" oid="799">McLaren</option>
	<option value="Mercedes-Benz" oid="31">Mercedes-Benz</option>
	<option value="Mercury" oid="32">Mercury</option>
	<option value="MINI" oid="29">MINI</option>
	<option value="Mitsubishi" oid="34">Mitsubishi</option>
	<option value="Nissan" oid="35">Nissan</option>
	<option value="Pontiac" oid="40">Pontiac</option>
	<option value="Porsche" oid="41">Porsche</option>
	<option value="Ram" oid="783">Ram</option>
	<option value="Rolls-Royce" oid="58">Rolls-Royce</option>
	<option value="Scion" oid="45">Scion</option>
	<option value="smart" oid="507">smart</option>
	<option value="SRT" oid="849">SRT</option>
	<option value="Saturn" oid="44">Saturn</option>
	<option value="Subaru" oid="47">Subaru</option>
	<option value="Suzuki" oid="48">Suzuki</option>
	<option value="Tesla" oid="834">Tesla</option>
	<option value="Toyota" oid="49">Toyota</option>
	<option value="Volkswagen" oid="50">Volkswagen</option>
	<option value="Volvo" oid="51">Volvo</option>
	</select>
</form>