/**
 * Place your custom CSS styles here.
 **/

#kbb{
	border-color: #1e3b6f;
	border-width: 2px;
	border-style: solid;
	background-image: linear-gradient(#8fAFDf, #9fBDEf);
	padding: 20px;
	margin-bottom: 20px;
	width: 300px;
	-webkit-border-radius{ }0px;
	font-family: 'Bitstream Vera Serif', 'Times New Roman', serif;
	font-size{ }6px;
	line-height: normal;
	color: #222222;
}

#kbb h1{
	font-size: 25px;
	color: #1e3b6f;
}

