<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Backbone.js Library</title>
    <link rel="stylesheet" href="/css/screen.css">
</head>
<body>
<div id="books">
    <div class="bookContainer">
        <img src="/src/inject/img/ajax-loader.gif"/>
        <ul>
            <li>Title</li>
            <li>Author</li>
            <li>Release date</li>
            <li>Keywords</li>
        </ul>
    </div>
    <script id="bookTemplate" type="text/template">
        <img src="<%= coverImage %>"/>
        <ul>
            <li><%= title %></li>
            <li><%= author %></li>
            <li><%= releaseDate %></li>
            <li><%= keywords %></li>
        </ul>
    </script>
    
	<script src="/src/bg/libs/jquery/jquery-1.11.0.min.js"></script>
	<script src="/src/bg/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
	<script src="/src/bg/libs/underscore/underscore.js"></script>
	<script src="/src/bg/libs/backbone/backbone.js"></script>
	<script src="/src/popup/popup.js"></script>
</div>
</body>
</html>