/**
 * Place your custom CSS styles here.
 **/

#kbb-frame{
	border-color: #1e3b6f;
	background-color: #9fBDEf;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
	margin-bottom: 20px;
	min-width: 300px;
	max-width: 500px;
	-webkit-border-radius: 5px;
	font-family: 'Bitstream Vera Serif', 'Times New Roman', serif;
	font-size: 12px;
	line-height: normal;
	color: #222222;
}

#kbb-frame table.table, #kbb-frame td, #kbb-frame th, #kbb-frame tr, #kbb-frame thead{
	border-color: #6f8FBf !important;
}

#kbb-frame #kbb-title {
font-family: verdana;
font-weight: 800;
font-variant: small-caps;
}

#kbb-frame #listPrice span{
font-weight: bold;
}

#kbb-frame #kbb-iframe{
	overflow: hidden;
}

#kbb-frame #mainCanvas{
	position: relative;
	top: -100px;
	z-index: 9;
}

#kbb-frame #kbblogo{
	position: relative;
	top: 124px;
	left: 81px;
	z-index: 10;
}

#kbb-frame h1{
	font-size: 26px;
	color: #1e3b6f;
}

#kbb-frame h2{
	font-size: 22px;
}

#kbb-frame h3{
	font-size: 18px;
}

#kbb-frame h4{
	font-size: 16px;
}

#kbb-frame .selected {
	border-color: orange !important;
	border-style: solid;
	border-width: 3px;
	background-image:linear-gradient(#fff, #ddd);
	-webkit-border-radius: 5px;
}

#kbb-frame .row-white, #kbb-frame .row-grey, #kbb-frame .mod-category{
	padding:10px;
	border-color: gray;
	border-style: solid;
	border-width: 2px;
	background-image:linear-gradient(#fff, #ddd);
	-webkit-border-radius: 5px;
}
#kbb-frame .white{
	color: white;
}

#kbb-frame .row-white, .row-grey{
	height: 85px;
}

#kbb-frame .right{
	float: right;
}

#kbb-frame .row-white .style-name.section-title, #kbb-frame .row-grey .style-name.section-title{
	width:140px;
	float: left;
}

#kbb-frame .btn-main-cta{
	position: relative;
	border-color: orange;
	border-style: solid;
	border-width: 2px;
	margin: 5px;
	padding: 5px;
	background-image:linear-gradient(#AD3410, #BD4520);
	-webkit-border-radius: 5px;
	color:#FFF;
	text-decoration: none;
}

#kbb-frame .section-title{
	font-size: 16px;
}

#kbb-frame .style-name{
	float: left;
	width: 115;
}

#kbb-frame .mod-category-inner .section-title{
	position: relative;
	top: -15px;
}

#kbb-frame .vehicle-styles-body.expanded-content{
	display: block;
}

#kbb-frame .excellent{
	color: #009900;
}

#kbb-frame .verygood{
	color: #99FF00;
}

#kbb-frame .good{
	color: #FFFF33;
}

#kbb-frame .fair{
	color: #FF5500;
}

#kbb-frame td.excellent{
	background-color: #009900;
	color: black !important;
}

#kbb-frame td.verygood{
	background-color: #99FF00;
	color: black !important;
}

#kbb-frame td.good{
	background-color: #FFFF33;
	color: black !important;
}

#kbb-frame td.fair{
	background-color: #FF5500;
	color: black !important;
}

#kbb-frame .green{
	color: #00FF00;
}

#kbb-frame .red{
	color: #FF0000;
}

#kbb-frame .clear{
	margin-top: 10px;
}

#kbb-frame .not-sure{
	display: none;
}

#kbb-frame .collapse{
	display: block !important;
}

#kbb-frame .engines-and-drivetrains{
	display: none !important;
}

#kbb-frame .engine-container{
	display: none !important;
}

#kbb-frame .includes-and-cta-container, #kbb-frame .also-standard, #kbb-frame .ad-label   {
	display: none;
}